/* DOCUMENT INFORMATION
	- Document: Foundation Custom Classes
	- Version:  1.0
	- Client:   Zindigo
	- Author:   Brooklyn Responsive
*/

/* GLOBAL SETTINGS
   ----------------------------- */

html {
  background: transparent url('../img/logo-kas.gif') no-repeat center center;
  height: 100%;
}
body {
	font-family: 'Lato', sans-serif;
  background: transparent; /* rgba(255,255,255, .75) */
}

/**** Custom ScrollBar *****/
.mCSB_container{
	width:auto;
	margin-right:30px;
	overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
}
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{
	margin-right:30px;
}
.mCustomScrollBox>.mCSB_scrollTools{
	width:16px;
	height:100%;
	top:0;
	right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0; 
	height:auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail{
	width:2px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
	cursor:pointer;
	width:100%;
	height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-align:center;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
	display:block;
	position:relative;
	height:20px;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{
	top:100%;
	margin-top:-40px;
}
/* horizontal scrollbar */
.mCSB_horizontal>.mCSB_container{
	height:auto;
	margin-right:0;
	margin-bottom:30px;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-bottom:0;
}
.mCS_disabled>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
	margin-bottom:30px;
}
.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools{
	width:100%;
	height:16px;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:0 20px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:2px;
	margin:7px 0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger{
	width:30px;
	height:100%;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
	display:block;
	position:relative;
	width:20px;
	height:100%;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
	float:left;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
	margin-left:-40px;
	float:right;
}
.mCustomScrollBox{
	-ms-touch-action:none; /*MSPointer events - direct all pointer events to js*/
}

/* default scrollbar colors and backgrounds (default theme) */
.mCustomScrollBox>.mCSB_scrollTools{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCustomScrollBox:hover>.mCSB_scrollTools{
	opacity:1;
	filter:"alpha(opacity=100)"; -ms-filter:"alpha(opacity=100)"; /* old ie */
}
.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.4);
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(255,255,255,0.85);
	filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(255,255,255,0.9);
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
	background-image:url(mCSB_buttons.png);
	background-repeat:no-repeat;
	opacity:0.4;
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp{
	background-position:0 0;
	/* 
	sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonDown{
	background-position:0 -20px;
	/* 
	sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:0 -40px;
	/* 
	sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonRight{
	background-position:0 -56px;
	/* 
	sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{
	opacity:0.9;
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}

/*dark-thick*/
.mCS-dark-thick>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.1);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:6px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.75);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:6px;
	margin:5px auto;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-96px 0;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-96px -20px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-100px -40px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-100px -56px;
}
/********************************/

#header, 
#footer-id,
#content {
  opacity:0;
}
#header,
#content,
#footer-id {
    -webkit-animation-duration: .25s;
       -moz-animation-duration: .25s;
         -o-animation-duration: .25s;
           -animation-duration: .25s;
    

    -webkit-animation-delay: 0;
       -moz-animation-delay: 0;
         -o-animation-delay: 0;
            animation-delay: 0;
}

#content,
#footer-id {
    -webkit-animation-duration: .5s;
       -moz-animation-duration: .5s;
         -o-animation-duration: .5s;
           -animation-duration: .5s;
    -webkit-animation-delay: .25s;
       -moz-animation-delay: .25s;
         -o-animation-delay: .25s;
            animation-delay: .25s;
            
    background: white;
}

/*
#footer-id {
    -webkit-animation-duration: .25s;
       -moz-animation-duration: .25s;
         -o-animation-duration: .25s;
           -animation-duration: .25s;

    -webkit-animation-delay: .75s;
       -moz-animation-delay: .75s;
         -o-animation-delay: .75s;
            animation-delay: .75s;
}
*/
#header {
  position: relative;
  z-index: 5000;
}

a:hover {
	text-decoration:underline;
}

hr {
	color: #000;
	background-color: #000;
	height: 1px;
	border: 1px solid #000;
	margin:10px 0px 10px 0px;
}

p {
	font-size:12px;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size:24px;
	font-weight:400;
	padding:0px;
	margin:0px 0px 20px 0px;
	text-transform:uppercase;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size:15px;
	font-weight:400;
	padding:0px;
	margin:20px 0px 0px 0px;
	text-transform:uppercase;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size:15px;
	font-weight:400;
	padding:0px;
	margin:0px;
	text-transform:uppercase;
}

.has-tip { border-bottom: none; cursor: pointer; }
.has-tip:hover, .has-tip:focus {
	border:none;
	cursor:pointer;
}

.tooltip {
  font-weight: 300;
  font-size: 11px;
}

ul li {
	list-style-type:none;
}

.top-bar {
	margin-bottom:10px;
}

.fancybox-skin {
	background:#000;
	padding:5px !important;
}

.fancybox-close {
	top: -24px;
	right: -24px;
}

.reveal-modal {
	z-index:9000;
	padding:10px;
}
	
.reveal-modal-bg {
	z-index:8999;
}

.reveal-modal .close-reveal-modal {
	font-size: 18px;
	width:15px;
	height:15px;
	display:block;
	line-height:15px;
	text-align:center;
	color: #999;
	font-weight: bold;
	cursor: pointer;
	top:10px;
	right:15px;
}

.reveal-modal .close-reveal-modal:hover {
	color: #000;
	text-decoration:none;
}

.orbit-container {
	background:none;
}

.orbit-container .orbit-prev {
	width:17px;
	height:25px;
	line-height:25px;
	background:url(../img/orbit-prev.png) top left no-repeat transparent;
}

.orbit-container .orbit-next {
	width:17px;
	height:25px;
	line-height:25px;
	background:url(../img/orbit-next.png) top left no-repeat transparent;
}

.orbit-container .orbit-prev > span, .orbit-container .orbit-next > span {
	border:none;
}

.orbit-container .orbit-slides-container img {
	display:inline-table;
	text-align:center;
}

.orbit-container .orbit-timer {
	visibility:hidden;
}

.top-section-title {
	height:40px;
	line-height:40px;
	text-transform:uppercase;
	padding:0px 0px 0px 10px;
	display:block;
	margin-bottom:30px;
	color:#fff;
	font-family: 'Lato', sans-serif;
	font-size:18px;
	font-weight:400;
	background:#000;
	letter-spacing:1.5px;
}

.top-section-title.lightbox {
	width:94%;
}

.top-section-title a {
	color:#fff;
	font-size:11px;
	display:block;
}

.top-section-title a:hover {
	color:#666666;
	text-decoration:none;
}

.top-section-subtitle {
	height:25px;
	line-height:25px;
	text-transform:uppercase;
	padding:0px 0px 0px 10px;
	display:block;
	margin-bottom:20px;
	color:#000;
	font-family: 'Lato', sans-serif;
	font-size:14px;
	font-weight:300;
}

.top-section-subtitle a {
	display:inline-block;
	padding:0px 30px 0px 0px;
	color:#8d8d8d;
	font-weight:400;
}

.top-section-subtitle a:hover {
	color:#000;
	text-decoration:none;
}

@media only screen and (max-width: 768px) {
  .top-section-subtitle {
    font-size: 10px;
  }
  
  .top-section-subtitle a {
    color:#8d8d8d;
    padding:0px 20px 0px 0px;
  }
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


/* HEADER SETTINGS
   ----------------------------- */
.mobile-your-cart {
	position:absolute;
	top:0px;
	left:140px;
	height:45px;
	line-height:45px;
	z-index:101;
	color:#fff;
	font-size:14px;
	font-weight:400;
	padding:0px 10px 0px 10px;
	border-left:2px solid #333;
	border-right:2px solid #333;
}

.mobile-your-cart:hover {
	color:#fff;
	background:#1B1B1B;
}

/* HOME CONTENT SETTINGS
   ----------------------------- */
.home-grid .home-title {
	height:40px;
	text-align:center;
	display:block;
	background:#000;
	opacity:0.8;
	margin-bottom:-40px;
	width:auto;
}

.home-grid .home-title.orbit-hack {
	position: absolute;
	display: inline-table;
	width: 100%;
	z-index:98;
}

.home-grid .home-title.no-margin {
	margin-bottom:-10px;
}

.home-grid .home-title h1 {
	font-size:16px;
	line-height:40px;
	font-weight:300;
	margin:0px;
	padding:0px;
	color:#fff;
	opacity:1;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	letter-spacing:1px;
}

.home-grid img {
	margin-bottom:1.875em;
}

/* FOOTER SETTINGS
   ----------------------------- */
footer {
	margin-top:30px;
}

footer .footer-links a {
	font-size:9px;
	color:#000;
	display:block;
	padding:0px 0px 0px 5px;
	line-height:2em;
	text-align:center;
}

footer ul.social-links {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: inline-block;
	width:100px;
}

footer ul.social-links li {
	width: 20px;
	height: 20px;
	float: left;
	margin: 0px 5px 0px 0px;
}

footer ul.social-links li a {
	width: 20px;
	height: 20px;
	display: inline-block;
	text-indent: -99999px;
	color: transparent;
	overflow: hidden;
}

footer ul.social-links li a.facebook {
	background:url(../img/facebook.png) top center no-repeat;
}
footer ul.social-links li a.twitter {
	background:url(../img/twitter.png) top center no-repeat;
}
footer ul.social-links li a.pinterest {
	background:url(../img/pinterest.png) top center no-repeat;
}
footer ul.social-links li a.instagram {
	background:url(../img/instagram.png) top center no-repeat;
}

footer form .newsletter-input {
	border-color: #000;
	height: 24px;
	line-height:24px;
	font-size:10px;
}

footer form .go-button {
	border-color: #000;
	height: 24px;
	background: #000;
	-webkit-box-shadow: none;
	box-shadow: none;
}


/* CONTACT SETTINGS
   ----------------------------- */
.contact-page {
	padding:0px 20px 0px 20px;
}
@media only screen and (max-width: 768px) {
  .contact-page {
    background: transparent url(../img/contact-img.jpg) no-repeat right top;
    padding: bottom: 50px;
    background-size:contain;
  }
  
  .contact-page p,
  .contact-page .phone, 
  .contact-page .mail {
    background-color: rgba(255, 255, 255, .7);
  }
}
.contact-page a {
	color:#222222;
}

.contact-page a:hover {
	text-decoration:none;
}

.contact-info {
	padding-top:0px;
	border-bottom:2px solid #000;
	margin-bottom:20px;
}

.contact-info h1 {
	margin-bottom:10px;
	font-size:16px;
	background: rgba(255, 255, 255, .7);
}

.contact-info h3 {
  background: rgba(255, 255, 255, .7);
}
.contact-info h1 span {
	font-size:12px;
	margin-left:20px;
}

.contact-page h2 {
margin: 10px 0 20px 0;
}

.contact-page p {
 
	font-size: 13px;
}

.phone,
.mail {
  display: inline-block;
  padding: 7px 10px 7px 15px;
  font-size: 13px;
  background: rgba(255, 255, 255, .7);
  margin-left: 5px;
    
} 
.phone {
	background: rgba(255, 255, 255, .7) url(../img/ico-phone.gif) center left no-repeat;
}

.mail {
	background: rgba(255, 255, 255, .7)  url(../img/ico-mail.gif) center left no-repeat;
}

a.phone:hover,
a.mail:hover {
  color: #DE6A3F;
}
span.mail a {
	color:#000;
}

span.corporate  {
	padding-right:20px;
	display:inline-block;
	padding-top:10px;
	font-size:12px;
}

.contact-corporate {
	padding-top:20px;
	border-top:2px solid #000;
	margin-top:20px;
}


/* VIDEO SETTINGS
----------------------------- */
.video-content img {
	z-index:100;
	margin-bottom:25px;
}

.video-title {
	height:40px;
	text-align:center;
	display:block;
	background:#000;
	opacity:0.8;
	margin-bottom:-40px;
	width:100%;
}

.video-title h1 {
	font-size:16px;
	line-height:40px;
	font-weight:300;
	margin:0px;
	padding:0px;
	color:#fff;
	opacity:1;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	letter-spacing:1px;
}

/* SHOP SETTINGS
   ----------------------------- */
.shop-slider-content {
	background:#fff;
	font-size:12px;
}

.shop-slider-content span {
	display:block;
	font-size:13px;
	text-transform:uppercase;
	padding:5px 0px 0px 0px;
}

.shop-item {
	width:240px;
	height:auto;
	margin-bottom:20px;
	text-align:center;
}

.shop-item.isotope-item span {
  margin-top: 5px;
  display: block;
}
   
.f-dropdown.content {
	padding:10px;
}

.f-dropdown.content h1 {
	font-size:14px;
	text-align:left;
	margin:0px 0px 10px 0px;
	padding:0px;
}

.f-dropdown.content p {
	text-align:left;
	font-size:11px;
}

.f-dropdown.content p strong {
	font-size:13px;
}

.f-dropdown.content a {
	display:block;
	padding:5px 0px 5px 0px;
	background:#000;
	color:#fff;
	font-size:11px;
	text-transform:uppercase;
	text-align:center;
	margin-top:10px;
}

/* SHOP DETAILS SETTINGS
   ----------------------------- */
   
table {
	margin-bottom:0px;
}

a.shop-prev {
	padding-left:15px;
	padding-right:20px;
	color:#fff;
	background:url(../img/shop-prev.gif) top left no-repeat;
	font-size:11px;
	width:90px; 
	display:block; 
	float:right;
	letter-spacing:1px;
}

a.shop-prev:hover {
	text-decoration:none;
	color:#8d8d8d;
	background-position:bottom left;
}

a.shop-next {
	padding-left:0px;
	padding-right:15px;
	color:#fff;
	background:url(../img/shop-next.gif) top right no-repeat;
	font-size:11px;
	margin-right:10px;
	width:60px; 
	display:block; 
	float:right;
	letter-spacing:1px;
}

a.shop-next:hover {
	text-decoration:none;
	color:#8d8d8d;
	background-position:bottom right;
}

#images-shop-thumbails {
	margin-bottom:5px;
}

#images-shop-thumbails img {
	cursor:pointer;
}

.shop-detail h1 {
	font-size:22px;
	color:#040404;
	font-weight:400;
	text-transform:uppercase;
	margin:10px 0px 0px 0px;
	padding:0px;
	line-height:normal;
	letter-spacing:1px;
}

.shop-detail h2 {
	font-size:15px;
	color:#959494;
	font-weight:400;
	text-transform:uppercase;
	margin:0px 0px 10px 0px;
	padding:0px;
	line-height:normal;
}

.shop-detail h3 {
	font-size:23px;
	color:#000;
	font-weight:300;
	text-transform:uppercase;
	margin:0px 0px 0px 0px;
	padding:0px;
	line-height:normal;
}

.shop-detail p {
	font-size:15px;
	line-height:1.3em;
	margin-bottom:10px;
	margin-top:10px;
}

.shop-detail p i {
	font-size:12px;
}

.shop-detail h4 {
	font-size:11px;
	color:#000;
	font-weight:700;
	text-transform:uppercase;
	margin:0px 0px 10px 0px;
	padding:0px;
	line-height:normal;
}

span.product-color {
	width:28px;
	height:28px;
	display:inline-block;
	margin:0px 5px 0px 0px;
	border:none;
}

span.product-color.color-01 {
	background:#A67C52;
}
span.product-color.color-02 {
	background:#DE6A3F;
}
span.product-color.color-03 {
	background:#EDD55F;
}

form.custom {
	margin-top:10px;
	margin-bottom:0px;
}

label {
	color:#000;
	font-size:11px;
	text-transform:uppercase;
	font-weight:300;
	height:32px;
	line-height:32px;
	float:left;
}

label.normal {
	width:55px;
}

label.small {
	width:30px;
}

input.size-color {
	width:90px;
	float:left;
	margin-right:15px;
}

input.size-qty {
	width: 50px;
	float:left;
}

form.custom .custom.dropdown.select-size,
form.custom .custom.dropdown.choose-color {
	float:left;
	width:125px;
}

form.custom .custom.dropdown.choose-color {
  margin-right: 15px
}
form.custom .custom.dropdown .current {
	font-size:11px;
	line-height:29px;
}

/* DESIGNER SETTINGS
   ----------------------------- */
.designer-content h1 {
	font-size:13px;
	margin-bottom:0px;
	margin-top:20px;
}

.designer-content hr {
	height: 1px;
	border: 0px solid #000;
}

.designer-content {
	height:540px;
}

.designer-content p {
	font-size:13px;
}

@media only screen and (max-width: 768px) {
  form.custom .custom.dropdown .current,
  a.sizes-guide {
    font-size:10px;
  }
  
  
}

form.custom .custom.dropdown .selector {
	right: -1px;
	top: -1px;
	border:1px solid #fff;
	border-left:solid 1px #cccccc;
	background:#fff;
}

a.sizes-guide {
	width:85px;
	height:32px;
	float:left;
	background:#EEEEEE;
	border:1px solid #BBBBBB;
	color:#000;
	text-align:center;
	font-size:11px;
	font-weight:300;
	text-transform:uppercase;
	padding:4px 0px 0px 0px;
	margin-left:10px;
}

.add-cart-button {
	/*
	border-color: #000;
	*/
	border: none;
	background: #000;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-transform:uppercase;
}

.button.small {
	padding: 10px 25px 10px 25px; 
	font-size: 11px; 
	font-weight: normal; 
	letter-spacing: 1px;
	margin-bottom:10px;
	margin-top:7px;
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: #DE6A3F;
	text-decoration:none; }

.shipping-note {
	font-size:12px;
	color:#5b5b5b;
	font-style:italic;
	display:block;
	line-height: 1.6em;
}

.shop-share-links {
	width:190px;
	height:38px;
	float:left;
	border:1px solid #ccc;
	border-radius: 2px;
}

.shop-share-links span {
	width:50px;
	line-height:38px;
	text-transform:uppercase;
	float:left;
	font-size:11px;
	padding-left:10px;
	margin-right:10px;
}

.shop-share-links ul {
	margin:0px;
	padding:0px;
	float:left;
	list-style-type:none;
}

.shop-share-links ul li {
	margin:6px 6px 0px 0px;
	padding:0px;
	float:left;
	width:24px;
	height:24px;
}

.shop-share-links ul li a {
	width:24px;
	height:24px;
	display:block;
	text-indent:9999px;
	overflow: hidden;
}

.shop-share-links ul li a.facebook {
	background:url(../img/shop-share-facebook.gif) top left no-repeat;
}
.shop-share-links ul li a.twitter {
	background:url(../img/shop-share-twitter.gif) top left no-repeat;
}
.shop-share-links ul li a.pinterest {
	background:url(../img/shop-share-pinterest.gif) top left no-repeat;
}
.shop-share-links ul li a.mail {
	background:url(../img/shop-share-mail.gif) top left no-repeat;
}

h3.old-price {
	text-decoration: line-through;
	display:inline-block;
	font-weight:700;
}

h3.new-price {
	color:#C00;
	font-weight:700;
	padding-left:10px;
	display:inline-block;
}

.button.small.add-cart-price {
	margin-top:-2px;
}

/* TRENDSETTING SETTINGS
   ----------------------------- */
.trendsetting-content {
	background:#fff;
}


/* WHAT INSPIRE US SETTINGS
   ----------------------------- */
.inspire-content {
	background:#fff;
	height:580px; padding-left:30px;
}

#container {
	position:relative;
}

#container01 {
	width:928px; 
	margin:0 auto;	
}

.photo {
	width:210px; 
	margin:0px 0px 10px 0px;
	padding: 0;
}

.photo img {
	max-width:100%;
	height:auto;
}

.view {
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: relative;
}

.view .mask span {
   width: 100%;
   height:100%;
   display: inline-block;
   vertical-align: middle;
   text-align:center;
   text-transform:uppercase;
   padding-top:20%;
}

.view .mask span a {
	color:#000;
	text-decoration:none;
}

.view .mask, .view .content {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}

.third-effect .mask {
   opacity: 0;
   overflow:visible;
   background:#fff;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.third-effect:hover .mask {
   opacity: 0.7;
   background:#fff;
}

/* PRESS SETTINGS
   ----------------------------- */
.thumbnailpress	{
	height:220px;
	width: 170px;
	position:relative;
	overflow:hidden;
	padding:0px;
	margin:0px 10px 10px 0px;
    display: inline-block;
    white-space: normal;
	background-repeat:no-repeat;
}
.thumbnailpress img	{
	height:220px;
	width:170px;
	position:relative;
}


/* SHARE SETTINGS
   ----------------------------- */
.share-content {
	margin-right:10px;
	margin-bottom:8px;
	height:auto;
}

.share-title {
	height:40px;
	text-align:center;
	display:block;
	background:#000;
	opacity:0.8;
}

.share-title h1 {
	font-size:16px;
	line-height:40px;
	font-weight:300;
	margin:0px;
	padding:0px;
	color:#fff;
	opacity:1;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	letter-spacing:1px;
}

/* QUOTES SETTINGS
   ----------------------------- */
.quotes-item {
	height:350px !important;
	display:block;
	line-height:350px;
	vertical-align:middle;
}

.quotes-item img {
	display:inline-table;
	vertical-align:middle;
	max-width:100%;
	height:auto;
}

/* WHO IS SETTINGS
   ----------------------------- */
.who-is-kas {
  padding: 5px 30px 30px 0px;
}

.who-is p {
	font-size:14px;
}

@media only screen and (max-width: 321px) {
  .who-is-kas {
    padding: 0 0px 30px 0
  }
}

/* ==============================
       DESKTOP STYLES 752px UP 
   ============================== */
@media only screen and (min-width: 47em) {

/* GLOBAL SETTINGS
----------------------------- */

h2 {
	margin:0px 0px 0px 0px;
}

#fancybox-buttons.top {
	/*top: 120px;*/

    top: auto;
    bottom: 20px;

}
	
/* HEADER SETTINGS
   ----------------------------- */
header {
	margin-bottom:30px;
	border-bottom:3px solid #000;
}

.header-top-link a {
	font-size: 12px;
  color: #000;
  display: inline-block;
  padding: 0px 13px 0px 15px;
  position: relative;
  top: 9px;
  z-index: 300;
}

.menu-container {
	/*border-bottom:3px solid #000;*/
}

.logo-desktop {
	margin-left:24px;
}

.top-bar {
	background:#fff;
	height: 56px;
	line-height: 56px;
	margin-bottom:0px;
}

.top-bar .name h1 {
margin: -3px 0 0 0;
}

.top-bar .name h1 a {
	padding:0px;	
}

.top-bar-section ul {
	background:transparent;
}

.top-bar-section li a:not(.button) {
	background:#fff;
	color:#8d8d8d;
	text-transform:uppercase;
	font-size:13px;
	font-weight:400;
	line-height:normal;
	padding:0px 12px 0px 12px;
	margin-top:35px;
	height:24px;
	letter-spacing:1px;
}

.top-bar-section li a:hover {
	color:#000;
	text-decoration:none;
}

.top-bar-section .has-dropdown > a {
	padding-right:15px !important;
}

.top-bar-section .has-dropdown > a:after {
	border:none;
	border-color: none;
	border-top-style:none;
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
	display:none;
}

.top-bar-section ul.right li .dropdown  {
	background:#fff;
	opacity:1;
	padding-bottom:10px;
	padding-top:0px;
	padding-left:5px;
	padding-right:5px;
}

.top-bar-section ul.right li .dropdown li a {
	margin:0px;
	font-size:12px;
	padding:10px 0px 10px 0px;
	text-align:center;
	opacity:1;
	color:#8d8d8d;
}

.top-bar-section ul.right li .dropdown li a:hover {
	text-decoration:none;
	color:#000;
}

.top-bar-section .dropdown li.divider {
	display:none;	
}

/* FOOTER SETTINGS
   ----------------------------- */
footer {   
	position: fixed;
	bottom: 0;
	z-index: 8009;
	width: 100%;
	margin: 0 auto;
	display: block;
	background:#fff;
	/* opacity:1; */
	margin-top:0px;
	padding-top: 30px;
}

footer.relative {
	position:relative;
	
}



footer .footer-links a {
	display:inline-block;
	line-height:normal;
	text-align:right;
	padding-left:5px;
}

footer form {
margin-bottom: 0;
}

/* CONTACT SETTINGS
   ----------------------------- */
.contact-page {
	padding:0px;
}

.contact-info {
	padding-top:150px;
}

.contact-info h1 {
	margin-bottom:10px;
	font-size:24px;
}

.contact-info h1 span {
	margin-left:0px;
	font-size:16px;
	display:block;
}

/* SHOP SETTINGS
   ----------------------------- */   
.shop-item.shop-big {
	width:480px;
	margin-bottom:40px;
}

/* SHOP DETAILS SETTINGS
   ----------------------------- */   
.add-cart-price {
	margin:0px;
	display:none;
}
   
input.size-color {
	margin-right:30px;
}

form.custom .custom.dropdown.select-size,
form.custom .custom.dropdown.choose-color {
	width:140px;
}

.shop-share-links {
	float:right;	
}

.button.small {
	margin-bottom:0px;
}

.related-products img {
	margin-right:35px;
}
.related-products img.no-margin {
	margin-right:0px;
}

/* QUOTES SETTINGS
   ----------------------------- */
.quotes-item {
	height:450px !important;
	display:block;
	line-height:450px;
	vertical-align:middle;
}

.quotes-item img {
	display:inline-table;
	vertical-align:middle;
	max-width:100%;
	height:auto;
}

/* DESIGNER SETTINGS
   ----------------------------- */
.designer h1 {
	margin-top:100px;
}

.reveal-modal.small.lightbox-interview {
	width: 523px !important;
}
	
}


/* ==============================
       DESKTOP STYLES 767px UP 
   ============================== */
@media only screen and (min-width: 767px) {
a.mobile-your-cart {
	display:none !important;
}
}

/* ==============================
       DESKTOP STYLES 1024px UP 
   ============================== */
@media only screen and (min-width: 1024px) {
	
/* HEADER SETTINGS
   ----------------------------- */
.top-bar-section li a:not(.button) {
	padding:0px 30px 0px 30px;

}

.top-bar-section li:last-child a {
  padding: 0px 15px 0px 30px;
}

.top-bar-section .has-dropdown > a {
	padding-right:38px !important;
}

.contact-info h1 span {
	margin-left:30px;
	font-size:18px;
	display:inline;
}

/* FOOTER SETTINGS
   ----------------------------- */
footer .footer-links a {
	font-size:11px;
	padding-left:15px;
}

}