/* DOCUMENT INFORMATION
	- Document: Foundation Custom Classes
	- Version:  1.0
	- Client:   Zindigo
	- Author:   Brooklin Responsive
*/

/* GLOBAL SETTINGS
   ----------------------------- */
   
body {
	font-family: 'Lato', sans-serif;
}

a:hover {
	text-decoration:underline;
}

hr {
	color: #000;
	background-color: #000;
	height: 1px;
	border: 1px solid #000;
	margin:10px 0px 10px 0px;
}

p {
	font-size:12px;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size:24px;
	font-weight:400;
	padding:0px;
	margin:0px 0px 20px 0px;
	text-transform:uppercase;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size:18px;
	font-weight:400;
	padding:0px;
	margin:20px 0px 0px 0px;
	text-transform:uppercase;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size:15px;
	font-weight:400;
	padding:0px;
	margin:0px;
	text-transform:uppercase;
}

ul li {
	list-style-type:none;
}

.orbit-container {
	background:none;
}

.orbit-container .orbit-prev {
	width:17px;
	height:25px;
	line-height:25px;
	background:url(../img/orbit-prev.png) top left no-repeat transparent;
}

.orbit-container .orbit-next {
	width:17px;
	height:25px;
	line-height:25px;
	background:url(../img/orbit-next.png) top left no-repeat transparent;
}

.orbit-container .orbit-prev > span, .orbit-container .orbit-next > span {
	border:none;
}

.orbit-container .orbit-slides-container img {
	display:inline-table;
	text-align:center;
}

.top-section-title {
	height:40px;
	line-height:40px;
	text-transform:uppercase;
	padding:0px 0px 0px 10px;
	display:block;
	margin-bottom:10px;
	color:#fff;
	font-family: 'Lato', sans-serif;
	font-size:18px;
	font-weight:400;
	background:#000;
}

.top-section-title a {
	color:#fff;
	font-size:14px;
}

.top-section-subtitle {
	height:25px;
	line-height:25px;
	text-transform:uppercase;
	padding:0px 0px 0px 10px;
	display:block;
	margin-bottom:20px;
	color:#000;
	font-family: 'Lato', sans-serif;
	font-size:14px;
	font-weight:300;
}

.top-section-subtitle a {
	display:inline-block;
	padding:0px 30px 0px 0px;
	color:#000;
}



/* HEADER SETTINGS
   ----------------------------- */
.mobile-your-cart {
	position:absolute;
	top:0px;
	left:140px;
	height:45px;
	line-height:45px;
	z-index:101;
	color:#fff;
	font-size:14px;
	font-weight:400;
	padding:0px 10px 0px 10px;
	border-left:2px solid #333;
	border-right:2px solid #333;
}

.mobile-your-cart:hover {
	color:#fff;
	background:#1B1B1B;
}

/* HOME CONTENT SETTINGS
   ----------------------------- */
.home-grid .home-title {
	height:40px;
	text-align:center;
	display:block;
	background:#000;
	opacity:0.8;
	margin-bottom:-40px;
	width:auto;
}

.home-grid .home-title.orbit-hack {
	position: absolute;
	display: inline-table;
	width: 100%;
	z-index:98;
}

.home-grid .home-title.no-margin {
	margin-bottom:-10px;
}

.home-grid .home-title h1 {
	font-size:16px;
	line-height:40px;
	font-weight:300;
	margin:0px;
	padding:0px;
	color:#fff;
	opacity:1;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
}

.home-grid img {
	margin-bottom:1.875em;
}

/* FOOTER SETTINGS
   ----------------------------- */
footer {
	margin-top:30px;
}

footer .footer-links a {
	font-size:11px;
	color:#000;
	display:block;
	padding:0px;
	line-height:2em;
	text-align:center;
}

footer ul.social-links {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: inline-block;
}

footer ul.social-links li {
	width: 20px;
	height: 20px;
	float: left;
	margin: 0px 5px 0px 0px;
}

footer ul.social-links li a {
	width: 20px;
	height: 20px;
	display: inline-block;
	text-indent: -99999px;
	color: transparent;
	overflow: hidden;
}

footer ul.social-links li a.facebook {
	background:url(../img/facebook.png) top center no-repeat;
}
footer ul.social-links li a.twitter {
	background:url(../img/twitter.png) top center no-repeat;
}
footer ul.social-links li a.pinterest {
	background:url(../img/pinterest.png) top center no-repeat;
}
footer ul.social-links li a.instagram {
	background:url(../img/instagram.png) top center no-repeat;
}

footer form .newsletter-input {
	border-color: #000;
	height: 24px;
	line-height:24px;
	font-size:10px;
}

footer form .go-button {
	border-color: #000;
	height: 24px;
	background: #000;
	-webkit-box-shadow: none;
	box-shadow: none;
}


/* CONTACT SETTINGS
   ----------------------------- */
.contact-info {
	padding-top:0px;
	border-bottom:2px solid #000;
	margin-bottom:20px;
}

.contact-info h1 {
	margin-bottom:10px;
	font-size:16px;
}

.contact-info h1 span {
	font-size:12px;
	margin-left:20px;
}

span.phone {
	display:block;
	padding:0px 0px 0px 20px;
	background:url(../img/ico-phone.gif) center left no-repeat;
	margin:0px 0px 5px 0px;
	font-size:12px;
	height:16px;
	line-height:16px;
}

span.mail {
	display:block;
	padding:0px 0px 0px 20px;
	background:url(../img/ico-mail.gif) center left no-repeat;
	margin:0px 0px 5px 0px;
	font-size:12px;
	height:16px;
	line-height:16px;
}

span.mail a {
	color:#000;
}

span.corporate  {
	padding-right:30px;
	display:inline-block;
	padding-top:10px;
}

.contact-corporate {
	padding-top:20px;
	border-top:2px solid #000;
	margin-top:20px;
}


/* VIDEO SETTINGS
----------------------------- */
.grid {
	padding: 0px;
	width:100%;
}

.grid li {
	position: relative;
}

.grid figure {
	margin: 0px;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	background: #000;
	opacity:0.8;
}

.grid figcaption h3 {
	margin: 0px;
	padding: 0px;
	color: #fff;
}

.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figcaption {
	height: 40px;
	width: 100%;
	top: 0px;
	left: 0px;
	opacity: 0;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 0.8;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}


/* SHOP SETTINGS
   ----------------------------- */

.shop-slider-content {
	background:#fff;
	font-size:12px;
}
   
.f-dropdown.content {
	padding:10px;
}

.f-dropdown.content h1 {
	font-size:14px;
	text-align:left;
	margin:0px 0px 10px 0px;
	padding:0px;
}

.f-dropdown.content p {
	text-align:left;
	font-size:11px;
}

.f-dropdown.content p strong {
	font-size:13px;
}

.f-dropdown.content a {
	display:block;
	padding:5px 0px 5px 0px;
	background:#000;
	color:#fff;
	font-size:11px;
	text-transform:uppercase;
	text-align:center;
	margin-top:10px;
}

/* SHOP DETAILS SETTINGS
   ----------------------------- */
a.shop-prev {
	padding-left:15px;
	padding-right:20px;
	color:#fff;
	background:url(../img/shop-prev.gif) center left no-repeat;
	font-size:12px;
}

a.shop-next {
	padding-left:0px;
	padding-right:15px;
	color:#fff;
	background:url(../img/shop-next.gif) center right no-repeat;
	font-size:12px;
	margin-right:10px;
}

#images-shop-thumbails img {
	cursor:pointer;
}

.shop-detail h1 {
	font-size:22px;
	color:#040404;
	font-weight:400;
	text-transform:uppercase;
	margin:10px 0px 0px 0px;
	padding:0px;
	line-height:normal;
}

.shop-detail h2 {
	font-size:15px;
	color:#959494;
	font-weight:400;
	text-transform:uppercase;
	margin:0px;
	padding:0px;
	line-height:normal;
}

.shop-detail h3 {
	font-size:23px;
	color:#000;
	font-weight:700;
	text-transform:uppercase;
	margin:20px 0px 10px 0px;
	padding:0px;
	line-height:normal;
}

.shop-detail p {
	font-size:15px;
}

.shop-detail p i {
	font-size:12px;
}

.shop-detail h4 {
	font-size:11px;
	color:#000;
	font-weight:700;
	text-transform:uppercase;
	margin:0px 0px 10px 0px;
	padding:0px;
	line-height:normal;
}

span.product-color {
	width:28px;
	height:28px;
	display:inline-block;
	margin:0px 5px 0px 0px;
	border:none;
}

.has-tip:hover, .has-tip:focus {
	border:none;	
}

.tooltip {
  font-weight: 300;
  font-size: 11px;
}

span.product-color.color-01 {
	background:#A67C52;
}
span.product-color.color-02 {
	background:#DE6A3F;
}
span.product-color.color-03 {
	background:#EDD55F;
}

form.custom {
	margin-top:20px;
}

label {
	color:#000;
	font-size:11px;
	text-transform:uppercase;
	font-weight:300;
	height:32px;
	line-height:32px;
	float:left;
}

label.normal {
	width:55px;
}

label.small {
	width:30px;
}

input.size-color {
	width:90px;
	float:left;
	margin-right:15px;
}

input.size-qty {
	width:65px;
	float:left;
}

form.custom .custom.dropdown.select-size {
	float:left;
	width:125px;
}

form.custom .custom.dropdown .current {
	font-size:11px;
	line-height:32px;
}

form.custom .custom.dropdown .selector {
	right: -1px;
	top: -1px;
	border:1px solid #fff;
	border-left:solid 1px #cccccc;
	background:#fff;
}

a.sizes-guide {
	width:65px;
	height:32px;
	float:left;
	background:#EEEEEE;
	border:1px solid #BBBBBB;
	color:#000;
	text-align:center;
	font-size:11px;
	font-weight:300;
	text-transform:uppercase;
	padding:5px 0px 0px 0px;
	margin-left:10px;
}

.add-cart-button {
	border-color: #000;
	background: #000;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-transform:uppercase;
	
}

.button.small {
	padding:10px 25px 10px 25px;
	font-size:11px;
}

.shop-share-links {
	width:190px;
	height:40px;
	float:left;
	border:1px solid #ccc;
	border-radius: 2px;
}

.shop-share-links span {
	width:50px;
	line-height:40px;
	text-transform:uppercase;
	float:left;
	font-size:11px;
	padding-left:10px;
	margin-right:10px;
}

.shop-share-links ul {
	margin:0px;
	padding:0px;
	float:left;
	list-style-type:none;
}

.shop-share-links ul li {
	margin:7px 6px 0px 0px;
	padding:0px;
	float:left;
	width:24px;
	height:24px;
}

.shop-share-links ul li a {
	width:24px;
	height:24px;
	display:block;
	text-indent:9999px;
	overflow: hidden;
}

.shop-share-links ul li a.facebook {
	background:url(../img/shop-share-facebook.gif) top left no-repeat;
}
.shop-share-links ul li a.twitter {
	background:url(../img/shop-share-twitter.gif) top left no-repeat;
}
.shop-share-links ul li a.pinterest {
	background:url(../img/shop-share-pinterest.gif) top left no-repeat;
}
.shop-share-links ul li a.mail {
	background:url(../img/shop-share-mail.gif) top left no-repeat;
}

/* TRENDSETTING SETTINGS
   ----------------------------- */
.trendsetting-content {
	background:#fff;
}


/* WHAT INSPIRE US SETTINGS
   ----------------------------- */
   
.inspire-content {
	background:#fff;
}

.box {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	float:left;
	margin:0px 10px 10px 0px;
}

.size-200x140 {
	width: 200px;
	height: 140px;
}

.size-245x148 {
	width: 245px;
	height: 148px;
}

.size-212x247 {
	width: 212px;
	height: 247px;
}

.size-424x365 {
	width: 424px;
	height: 365px;
}

.size-245x247 {
   	width: 245px;
	height: 247px;
}

.box img {
	position: absolute;
	left: 0;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}

/* Caption Common Style */
.box .caption {
	background-color:#fff;
	opacity:0;
	position: absolute;
	color: #fff;
	z-index: 100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
	left: 0;
}

/** Caption 3: Fade **/
.box .fade-caption {
	opacity: 0;
	width: 100%;
	height: 100%;
	padding-top:30px;
    text-align: center;
}

.box .fade-caption h3 {
	color:#333;
}


/** Fade Caption :hover Behaviour **/
.box:hover .fade-caption  {
	opacity: 0.7;
}


/* ==============================
       DESKTOP STYLES 752px UP 
   ============================== */
@media only screen and (min-width: 47em) {

/* GLOBAL SETTINGS
----------------------------- */

h2 {
	margin:0px 0px 0px 0px;
}
	
/* HEADER SETTINGS
   ----------------------------- */
header {
	margin-bottom:20px;
}

.header-top-link a {
	font-size:12px;
	color:#000;
	display:inline-block;
	padding:5px 0px 5px 40px;
}

.menu-container {
	border-bottom:3px solid #000;
}

.logo-desktop {
	margin-left:15px;
}

.top-bar {
	background:#fff;
	height: 56px;
	line-height: 56px;
	margin-bottom:0px;
}

.top-bar .name h1 a {
	padding:0px;	
}

.top-bar-section ul {
	background:transparent;
}

.top-bar-section li a:not(.button) {
	background:#fff;
	color:#8d8d8d;
	text-transform:uppercase;
	font-size:13px;
	font-weight:400;
	line-height:normal;
	padding:0px 15px 0px 15px;
	margin-top:35px;
	height:24px;
}

.top-bar-section li a:hover {
	color:#000;
	text-decoration:none;
}

.top-bar-section .has-dropdown > a {
	padding-right:15px !important;
}

.top-bar-section .has-dropdown > a:after {
	border:none;
	border-color: none;
	border-top-style:none;
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
	display:none;
}

.top-bar-section ul.right li .dropdown  {
	background:#fff;
	opacity:0.9;
	border-right:1px solid #000;
	border-left:1px solid #000;
	border-bottom:1px solid #000;
	padding-bottom:10px;
	padding-top:10px;
}

.top-bar-section ul.right li .dropdown li a {
	margin:0px;
	font-size:12px;
	padding:10px 0px 10px 0px;
	text-align:center;
	opacity:1;
	color:#000;
}

.top-bar-section ul.right li .dropdown li a:hover {
	text-decoration:underline;
}

.top-bar-section .dropdown li.divider {
	display:none;	
}

/* FOOTER SETTINGS
   ----------------------------- */
footer {   
	position: fixed;
	bottom: 0;
	z-index: 8990;
	width: 100%;
	margin: 0 auto;
	display: block;
	background:#fff;
	opacity:1;
	margin-top:0px;
}

footer .footer-links a {
	display:inline-block;
	line-height:normal;
	text-align:right;
	padding-left:20px;
}

/* CONTACT SETTINGS
   ----------------------------- */
.contact-info {
	padding-top:80px;
}

.contact-info h1 {
	margin-bottom:10px;
	font-size:24px;
}

.contact-info h1 span {
	margin-left:50px;
	font-size:16px;
}


/* SHOP DETAILS SETTINGS
   ----------------------------- */
   
input.size-color {
	margin-right:30px;
}

form.custom .custom.dropdown.select-size {
	width:140px;
}

.shop-share-links {
	float:right;	
}
	
}


/* ==============================
       DESKTOP STYLES 1024px UP 
   ============================== */
@media only screen and (min-width: 1024px) {
	
/* HEADER SETTINGS
   ----------------------------- */

.top-bar-section li a:not(.button) {
	padding:0px 38px 0px 38px;

}

.top-bar-section .has-dropdown > a {
	padding-right:38px !important;
}

}